name: ReadAndRise_Bot
on:
  schedule:
    # 每天北京时间凌晨1点执行 (UTC 17:00)
    - cron: '0 17 * * *' 
  workflow_dispatch: # 允许你手动点击运行按钮

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install feedparser google-generativeai notion-client
      - name: Run Script
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          DATABASE_ID: ${{ secrets.DATABASE_ID }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python crawler.py
